<h1>New User Sign Up</h1>

<mat-card class="main-card">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="processForm()" class="signup-form">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>User name:</mat-label>
          <input matInput type="text" formControlName="username" size="30" />
          <mat-error
            style="color: red"
            *ngIf="
              form.get('username')?.hasError('required') &&
              form.get('username')?.dirty
            "
          >
            Please enter username
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>e-mail:</mat-label>
          <input matInput type="email" formControlName="email" size="30" />
          <mat-error
            style="color: red"
            *ngIf="
              form.get('email')?.hasError('required') &&
              form.get('email')?.dirty
            "
          >
            Please enter your e-mail
          </mat-error>
          <mat-error
            style="color: red"
            *ngIf="form.get('email')?.hasError('email')"
          >
            Please enter a valid e-mail
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Password:</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            size="30"
          />
          <mat-error
            style="color: red"
            *ngIf="
              form.get('password')?.hasError('required') &&
              form.get('password')?.dirty
            "
          >
            Please enter your password
          </mat-error>
        </mat-form-field>
      </p>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Sign Up
      </button>
    </form>
  </mat-card-content>
</mat-card>

<!-- <div class="message">
  <p style="color: red" *ngIf="response.length > 0">{{ response }}</p>
</div> -->
